<mat-card>
  <mat-card-header>
    <mat-card-title>Nova Receita</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="informationForm" #step>
        <ng-template matStepLabel>Informações Iniciais</ng-template>
        <form [formGroup]="informationForm" (submit)="finalizarInformacoesDoPaciente($event, stepper)">

          <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxFlexFill fxLayoutGap="0.0" fxLayoutWrap
            fxLayoutGap="0.5" fxLayoutAlign="center center">
            <div fxFlex="99.5" fxFlex.md="99.5" fxFlex.xl="39.5" fxFlex.xs="100">
              <mat-form-field>
                <input type="text" placeholder="Selecione um Cliente" matInput formControlName="pessoa"
                  [matAutocomplete]="auto">
                <mat-hint *ngIf="informationForm.controls['pessoa'].pristine">Pesquise por um Paciente</mat-hint>
                <mat-error *ngIf="informationForm.controls['pessoa'].hasError('required')">
                  Não sou advinha, digita alguma coisa que eu te ajudo!
                </mat-error>
                <mat-error *ngIf="informationForm.controls['pessoa'].hasError('naoExiste')">
                  Oxi! Encontrei esse cabra aqui não!
                </mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <ng-container *ngIf="carregando" class="esta-carregando">
                    <span>
                      <mat-spinner diameter="50"></mat-spinner>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="!carregando">
                    <mat-option *ngFor="let p of pessoas" [value]="p">
                      <span>{{p.getNome()}}</span>
                      <small> | CPF: {{p.cpf}}</small>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div fxFlex="99.5" fxFlex.xl="39.5" fxFlex.md="99.5" fxFlex.xs="100">
              <mat-form-field>
                <mat-label>Selecione um Médico</mat-label>
                <mat-select formControlName="medico">
                  <mat-option *ngFor="let medico of medicos" [value]="medico">
                    <span>{{medico.toString()}}</span>
                    <small> | CRM: {{medico.crm}}</small>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="informationForm.controls['medico'].hasError('required')">
                  Nossa! Médico Invisível, esse não conheço não!
                </mat-error>
                <mat-error
                  *ngIf="!informationForm.controls['medico'].hasError('required') && informationForm.controls['medico'].hasError('naoExiste')">
                  Minha pergunta é: Como aconteceu esse erro?
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="99.5" fxFlex.md="99.5" fxFlex.xl="19.5" fxFlex.xs="100">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Escolha uma Data" formControlName="dataReceita"
                  disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="informationForm.controls['dataReceita'].invalid">
                  Você digitou algo errado aí talkei?
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="left left" class="espacamento">
            <div fxFlex="20" fxFlex.xs="100">
              <button mat-raised-button matTooltip="Adicionar um novo Paciente">
                <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
              </button>
            </div>
            <div fxFlex="20" fxFlex.xs="100">
              <button mat-raised-button matTooltip="Adicionar um novo Médico">
                <fa-icon [icon]="['fas', 'user-nurse']"></fa-icon>
              </button>
            </div>
            <div fxFlex="40" fxFlex.xs="0">
            </div>
            <div fxFlex="20" fxFlex.xs="100">
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="end end">
                <button mat-raised-button color="primary" matTooltip="Prosseguir para a Próxima Etapa"
                  [disabled]="!informationForm.valid">
                  <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="medicineForm">
        <ng-template matStepLabel>Escolha o Tipo de Medicamento</ng-template>
        <form [formGroup]="medicineForm">
          <div fxLayout="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="center center">
            <div fxFlex="25" fxFlex.xs="100">
              <mat-form-field *ngIf="tipoMedicamentos">
                <mat-select placeholder="Selecione um Tipo de Medicamento" formControlName="tipoMedicamentos">
                  <mat-option *ngFor="let tipoMedicamento of tipoMedicamentos" [value]="tipoMedicamento.id">
                    {{tipoMedicamento.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="end end">
            <div fxFlex="25" fxFlex.xs="100">
              <button mat-raised-button color="primary">Primary</button>
            </div>
          </div>
        </form>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>PRINCÍPIOS ATIVOS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="medicamentoForm">
              <mat-list formArrayName="items" *ngFor="let item of medicamentoForm.get('items').controls; let i = index">
                <div [formGroupName]="i" fxFlex="100">

                  <div fxLayout="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="left left">
                    <div fxFlex="100">
                      <h3 class="mat-body">PRINCÍPIO ATIVO {{i+1}}</h3>
                    </div>
                    <div fxFlex="100">
                      <div fxLayout="row" fxLayoutWrap fxLayoutGap="1" fxLayoutAlign="left left">
                        <div fxFlex="40">
                          <mat-form-field>
                            <input type="text" placeholder="Selecione um Princípio Ativo" matInput formControlName="id"
                              [matAutocomplete]="auto">
                            <mat-hint *ngIf="medicamentoForm.get('items').controls[i].get('id').pristine">Pesquise por
                              um Paciente
                            </mat-hint>
                            <mat-error *ngIf="medicamentoForm.get('items').controls[i].get('id').hasError('required')">
                              Não sou advinha, digita alguma coisa que eu te ajudo!
                            </mat-error>
                            <mat-error *ngIf="medicamentoForm.get('items').controls[i].get('id').hasError('naoExiste')">
                              Oxi! Encontrei esse cabra aqui não!
                            </mat-error>
                            <mat-autocomplete #auto="matAutocomplete">
                              <ng-container *ngIf="verificarCarregando(i)" class="esta-carregando">
                                <span>
                                  <mat-spinner diameter="50"></mat-spinner>
                                </span>
                              </ng-container>
                              <ng-container *ngIf="!verificarCarregando(i)">
                                <mat-option *ngFor="let m of principioAtivo" [value]="m">
                                  <span>{{m.nome}}</span>
                                </mat-option>
                              </ng-container>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div fxFlex="40">
                          <mat-form-field>
                            <input matInput type="number" placeholder="Proporção" formControlName="proporcao" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-list>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>