<mat-card>
  <mat-card-header>
    <mat-card-title>{{'NOVA_RECEITA' | frases}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="informationForm" #step>
        <ng-template matStepLabel>{{'INFORMACOES_INICIAIS' | frases}}</ng-template>
        <form [formGroup]="informationForm" (submit)="finalizarInformacoesDoPaciente($event, stepper)">

          <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxFlexFill fxLayoutGap="0.0" fxLayoutWrap
            fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="99.5%" fxFlex.md="99.5%" fxFlex.xl="39.5%" fxFlex.xs="100%">
              <mat-form-field>
                <input type="text" placeholder="Selecione um Cliente" matInput formControlName="pessoa"
                  [matAutocomplete]="auto">
                <mat-hint *ngIf="informationForm.controls['pessoa'].pristine">{{'PESQUISA_PACIENTE' | frases}}
                </mat-hint>
                <mat-error *ngIf="informationForm.controls['pessoa'].hasError('required')">
                  {{'ERRO_VAZIO' | frases}}
                </mat-error>
                <mat-error *ngIf="informationForm.controls['pessoa'].hasError('naoExiste')">
                  {{'ERRO_PESSOA_NAO_ENCONTRADA' | frases}}
                </mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <ng-container *ngIf="carregando" class="esta-carregando">
                    <span>
                      <mat-spinner diameter="50"></mat-spinner>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="!carregando">
                    <mat-option *ngFor="let p of pessoas" [value]="p">
                      <span>{{p.getNome()}}</span>
                      <small> | CPF: {{p.cpf}}</small>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div fxFlex="99.5%" fxFlex.xl="39.5%" fxFlex.md="99.5%" fxFlex.xs="100%">
              <mat-form-field>
                <mat-label>{{'SELECIONE_MEDICO' | frases}}</mat-label>
                <mat-select formControlName="medico">
                  <mat-option *ngFor="let medico of medicos" [value]="medico">
                    <span>{{medico.toString()}}</span>
                    <small> | CRM: {{medico.crm}}</small>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="informationForm.controls['medico'].hasError('required')">
                  {{'ERRO_MEDICO_VAZIO' | frases}}
                </mat-error>
                <mat-error
                  *ngIf="!informationForm.controls['medico'].hasError('required') && informationForm.controls['medico'].hasError('naoExiste')">
                  {{'ERRO_INESPERADO' | frases}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="99.5%" fxFlex.md="99.5%" fxFlex.xl="19.5%" fxFlex.xs="100%">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Escolha uma Data" formControlName="dataReceita"
                  disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="informationForm.controls['dataReceita'].invalid">
                  {{'ERRO_ENTRADA_INVALIDA' | frases}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="left left" class="espacamento">
            <div fxFlex="20%" fxFlex.xs="100%">
              <button mat-raised-button matTooltip="Adicionar um novo Paciente">
                <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
              </button>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
              <button mat-raised-button matTooltip="Adicionar um novo Médico">
                <fa-icon [icon]="['fas', 'user-nurse']"></fa-icon>
              </button>
            </div>
            <div fxFlex="40%" fxFlex.xs="0%">
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="end end">
                <button mat-raised-button color="primary" matTooltip="Prosseguir para a Próxima Etapa"
                  [disabled]="!informationForm.valid">
                  <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="medicineForm">
        <ng-template matStepLabel>{{'SELECIONE_TIPO_MEDICAMENTO' | frases}}</ng-template>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{'DETALHES_MEDICAMENTO' | frases | uppercase}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="medicamentoForm">
              <div fxLayout="column" fxLayoutWrap fxLayoutAlign="left left">
                <div fxFlex="100%">
                  <div fxLayout="row warp" fxLayoutGap="1%" fxLayoutAlign="left left">
                    <div fxFlex="99%" fxFlex.md="49%" fxFlex.lg="29%" fxFlex.xl="29%" fxFlex.xs="99%">
                      <mat-form-field *ngIf="tipoMedicamentos">
                        <mat-select placeholder="Selecione um Tipo de Medicamento" formControlName="tipo">
                          <mat-option *ngFor="let tipoMedicamento of tipoMedicamentos" [value]="tipoMedicamento.id">
                            {{tipoMedicamento.nome}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="medicamentoForm.controls['tipo'].invalid">
                          {{'ERRO_SELECIONAR_VALIDO' | frases}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="99%" fxFlex.md="49%" fxFlex.lg="19%" fxFlex.xl="19%" fxFlex.xs="99%">
                      <mat-form-field>
                        <input matInput [matDatepicker]="validadeMedicamentoPicker"
                          placeholder="Validade do Medicamento" formControlName="validade" disabled>
                        <mat-datepicker-toggle matSuffix [for]="validadeMedicamentoPicker"></mat-datepicker-toggle>
                        <mat-datepicker #validadeMedicamentoPicker disabled="false"></mat-datepicker>
                        <mat-error *ngIf="medicamentoForm.controls['validade'].invalid">
                          {{'ERRO_ENTRADA_INVALIDA' | frases}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="99%" fxFlex.md="24%" fxFlex.lg="9%" fxFlex.xl="9%" fxFlex.xs="99%">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Quantidade" formControlName="quantidade" />
                        <mat-error *ngIf="medicamentoForm.controls['quantidade'].invalid">
                          {{'ERRO_ENTRADA_INVALIDA' | frases}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="99%" fxFlex.md="24%" fxFlex.lg="9%" fxFlex.xl="9%" fxFlex.xs="99%">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Peso" formControlName="peso" />
                        <mat-error *ngIf="medicamentoForm.controls['peso'].invalid">
                          {{'ERRO_ENTRADA_INVALIDA' | frases}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="99%" fxFlex.md="49%"  fxFlex.lg="9%"   fxFlex.xl="9%" fxFlex.xs="99%">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Lote" formControlName="lote" />
                        <mat-error *ngIf="medicamentoForm.controls['lote'].invalid">
                          {{'ERRO_ENTRADA_INVALIDA' | frases}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="99%" fxFlex.md="49%" fxFlex.lg="9%"  fxFlex.xl="9%" fxFlex.xs="99%">
                      <button mat-raised-button color="accent"
                        (click)="adicionarMedicamento()">{{'ADICIONAR_MEDICAMENTO' | frases}}</button>
                    </div>
                    <div fxFlex="69%" fxFlex.md="79%"  fxFlex.lg="89%"   fxFlex.xl="89%" fxFlex.xs="69%">
                      <mat-form-field>
                        <input matInput type="text" placeholder="Posologia" formControlName="posologia" />
                      </mat-form-field>
                    </div>
                    <div fxFlex="29%" fxFlex.md="19%"  fxFlex.lg="9%"   fxFlex.xl="9%" fxFlex.xs="29%">
                      <button mat-raised-button color="primary" matTooltip="Prosseguir para a Próxima Etapa"
                        [disabled]="medicamentos.length == 0 || gerouImpressao" (click)="proximaEtapa()">
                        <fa-icon [icon]="['fas', 'print']"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="100%">
                  <h2 class="mat-body">{{'PRINCIPIOS_ATIVOS' | frases}} <button mat-icon-button color="accent"
                      (click)="adicionarPrincipioAtivo()">
                      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    </button></h2>
                </div>
              </div>
              <mat-list formArrayName="items" *ngFor="let item of medicamentoForm.get('items').controls; let i = index">
                <div [formGroupName]="i" fxFlex="100%">
                  <div fxLayout="column" fxLayoutWrap fxLayoutAlign="left left">
                    <div fxFlex="100%">
                      <h3 class="mat-body">{{'PRINCIPIO_ATIVO' | frases}} {{i+1}}</h3>
                    </div>
                    <div fxFlex="100%">
                      <div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center center">
                        <div fxFlex="49.5%" fxFlex.xs="99.5%">
                          <mat-form-field>
                            <input type="text" placeholder="Selecione um Princípio Ativo" matInput formControlName="id"
                              [matAutocomplete]="auto">
                            <mat-hint *ngIf="medicamentoForm.get('items').controls[i].get('id').pristine">
                              {{'PESQUISE_PRINCIPIO_ATIVO' | frases}}
                            </mat-hint>
                            <mat-error *ngIf="medicamentoForm.get('items').controls[i].get('id').hasError('required')">
                              {{'ERRO_VAZIO' | frases}}
                            </mat-error>
                            <mat-error *ngIf="medicamentoForm.get('items').controls[i].get('id').hasError('naoExiste')">
                              {{'ERRO_ENTRADA_INVALIDA' | frases}}
                            </mat-error>
                            <mat-autocomplete #auto="matAutocomplete">
                              <ng-container *ngIf="verificarCarregando(i)" class="esta-carregando">
                                <span>
                                  <mat-spinner diameter="50"></mat-spinner>
                                </span>
                              </ng-container>
                              <ng-container *ngIf="!verificarCarregando(i)">
                                <mat-option *ngFor="let m of listaNoMomentoMedicamento[i]" [value]="m">
                                  <span>{{m.nome}}</span>
                                </mat-option>
                              </ng-container>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div fxFlex="20%" fxFlex.xs="79%">
                          <mat-form-field>
                            <input matInput type="number" placeholder="Proporção" formControlName="proporcao" />
                            <mat-error
                              *ngIf="medicamentoForm.get('items').controls[i].get('proporcao').hasError('required')">
                              {{'ERRO_ENTRADA_INVALIDA' | frases}}
                            </mat-error>
                            <mat-error
                              *ngIf="medicamentoForm.get('items').controls[i].get('proporcao').hasError('pattern')">
                              {{'ERRO_PROPORCAO' | frases}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div fxFlex="20%" fxFlex.xs="20.5%">
                          <button mat-icon-button color="primary" (click)="removerPrincipioAtivo(i)">X</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-list>
            </form>
          </mat-card-content>
        </mat-card>
        <div *ngIf="medicamentos.length > 0">
          <h1 class="centralizado">{{'MEDICAMENTOS_NA_RECEITA' | frases | uppercase}}</h1>
          <app-tabela-receita [itens]="medicamentos" (remover)="removerItem($event)"></app-tabela-receita>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>