mat-form-field{
    width: 100%;
}
.esta-carregando ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }
  form div div{
      width: 100%;
  }
  .espacamento{
      margin-top: 10px;
  }
  .card{
      margin-top: 10px;
  }