<app-toolbar></app-toolbar>
<div class="main">
  <div class="before-form">
    <span class="parent" (click)='returnList()'>Usuários</span>
    <span>></span>
    <span>Adicionar</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="sendForm()">
    <div class="main">
      <mat-card>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id" [errorStateMatcher]="matcher" type="number"  />
            <mat-icon matPrefix>format_list_numbered</mat-icon>
            <mat-hint *ngIf="form.controls['id'].pristine">Digite um Id</mat-hint>
            <mat-error *ngIf="form.controls['id'].hasError('required') && !form.controls['id'].hasError('pattern') && !form.controls['id'].hasError('alreadyExists')">
              É sério, é só digitar um Id certo.
            </mat-error>
            <mat-error *ngIf="form.controls['id'].hasError('pattern') && !form.controls['id'].hasError('alreadyExists')">
              Um Id só pode conter números sem pontos ou vírgulas.
            </mat-error>
            <mat-error *ngIf="form.controls['id'].hasError('alreadyExists')">
              Este id já existe, por favor digite um outro.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name" [errorStateMatcher]="matcher"/>
            <mat-icon matPrefix>supervised_user_circle</mat-icon>
            <mat-hint *ngIf="!form.controls['id'].pristine && form.controls['name'].pristine">Digite o nome do usuário</mat-hint>
            <mat-error *ngIf="form.controls['name'].hasError('minlength') && !form.controls['name'].hasError('required')">
              O nome precisa de no mínimo 3 dígitos
            </mat-error>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              Você precisa preencher o nome
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Usuário" formControlName="user" [errorStateMatcher]="matcher"/>
            <mat-icon matPrefix>account_circle</mat-icon>
            <mat-hint *ngIf="!form.controls['name'].pristine && form.controls['user'].pristine">Digite o usuário</mat-hint>
            <mat-error *ngIf="form.controls['user'].hasError('minlength') && !form.controls['user'].hasError('required') && !form.controls['user'].hasError('alreadyExists')">
                O usuário precisa de no mínimo 3 dígitos
            </mat-error>
            <mat-error *ngIf="form.controls['user'].hasError('required') && !form.controls['user'].hasError('alreadyExists')">
              Não tem como você entrar sem digitar um usuário!
            </mat-error>
            <mat-error *ngIf="form.controls['user'].hasError('alreadyExists')">
              Este id já existe, por favor digite um outro.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Senha" formControlName="password" [errorStateMatcher]="matcher" type="password" />
            <mat-icon matPrefix>lock</mat-icon>
            <mat-hint *ngIf="!form.controls['user'].pristine && form.controls['password'].pristine">Digite uma senha, por favor</mat-hint>
            <mat-error *ngIf="form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required')">
              Ninguém coloca uma senha de 3 dígitos, né?
            </mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Não vou nem comentar, sério? Sem senha?
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirme a Senha" formControlName="confpassword" [errorStateMatcher]="matcher" type="password" />
            <mat-icon matPrefix class="lock-confirm">lock</mat-icon>
            <mat-hint *ngIf="!form.controls['password'].pristine && form.controls['confpassword'].pristine">Agora só Confirme a senha, rs</mat-hint>
            <mat-error *ngIf="form.controls['confpassword'].hasError('minlength') && !form.controls['confpassword'].hasError('required') && !form.controls['confpassword'].hasError('invalidSame')">
              Ninguém coloca uma senha de 3 dígitos, né?
            </mat-error>
            <mat-error *ngIf="form.controls['confpassword'].hasError('required') && !form.controls['confpassword'].hasError('invalidSame')">
              Não vou nem comentar, sério? Sem senha?
            </mat-error>
            <mat-error *ngIf="form.controls['confpassword'].hasError('invalidSame')">
              Olha, eu só acho que as senhas estão diferentes
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Selecione a Permissão" formControlName='role'>
              <mat-option *ngFor="let role of roles" [value]="role.role">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="form.invalid">ADICIONAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>