table {
    width: 100%;
}

.principio {
    display: inline-block;
}

tr.detalhe-expandido {
    height: 0;
}

tr.linha:not(.elemento-expandido):hover {
    background: #f5f5f5;
}

tr.linha:not(.elemento-expandido):active {
    background: #efefef;
}
.detalhe-medicamento{
    overflow: hidden;
    display: flex;
}
.detalhe-medicamento mat-divider{
    width: inherit;
}
.conteudo{
    width: 100%;
}
.botao-remover{
    margin-top: 10px;
    margin-bottom: 10px;
}